---
/**
 * * Hero with background video
 */

import heroLogo from "@images/relic-n-ritual-hero.png";
import { Image } from "astro:assets";
---

<section id="hero" class="relative z-10 flex min-h-[100lvh] w-full">
	<!-- background video -->
	<div class="absolute -z-10 h-full min-h-full w-full overflow-hidden">
		<video
			autoplay
			muted
			loop
			playsinline
			class="h-full w-full object-cover"
		>
			<source src="/video/ortho-candles.mp4" type="video/mp4" />
		</video>
		<div class="absolute inset-0" style="background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, transparent 45%, rgba(0,0,0,0.9) 100%);"></div>
		<div class="absolute inset-0" style="background: radial-gradient(circle at 50% 43%, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.05) 5%, rgba(255,255,255,0) 15%);"></div>
	</div>

	<!-- hero items -->
	<div class="site-container relative flex w-full items-center justify-center py-44 md:py-52">
		<Image
			src={heroLogo}
			alt="Relic & Ritual - Orthodox Design"
			class="max-w-[720px] w-full h-auto -translate-y-[10%]"
			loading="eager"
		/>
	</div>
</section>
